.card__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: cornflowerblue;
    color: white;

    .card {
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: dimgrey;
        height: 20px;
        width: 97%;
        margin: auto;
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-in-out;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
            cursor: pointer;
        }
    }

    .selected {
        background-color: coral;
    }
}
