<div class="user__card">

    <app-user-card [user]="user$ | async"></app-user-card>

    <div *ngIf="(isAdmin$ | async)" class="btn__block">
        <button
            [routerLink]="'/edit/' + userId"
            mat-button
            mat-icon-button
            aria-label="Edit user-account">
            <mat-icon color="primary">edit</mat-icon>
        </button>

        <button
            (click)="deleteUserById()"
            mat-button
            mat-icon-button
            aria-label="Remove user-account">
            <mat-icon color="warn">delete</mat-icon>
        </button>
    </div>

</div>
