<div class="header__container">
    <button
        *ngIf="!(isAuth$ | async)"
        mat-flat-button
        class="header__item"
        color="primary"
        routerLink="/login"
    >Login
    </button>

    <button
        *ngIf="!(isAuth$ | async)"
        mat-flat-button
        class="header__item"
        color="primary"
        routerLink="/register"
    >Register
    </button>

    <button
        *ngIf="isAuth$ | async"
        mat-flat-button
        class="header__item"
        color="warn"
        (click)="logOut()"
    >Logout</button>
</div>
