<div class="header__container">
    <button
        *ngIf="isAuthorized === false"
        mat-flat-button
        class="header__item"
        color="primary"
        routerLink="/login"
        (click)="logIn()"
    >Login
    </button>

    <button
        *ngIf="isAuthorized === false"
        mat-flat-button
        class="header__item"
        color="primary"
        routerLink="/register"
        (click)="logIn()"
    >Register
    </button>

    <button
        *ngIf="isAuthorized === true"
        mat-flat-button
        class="header__item"
        color="warn"
        (click)="logOut()"
    >Logout</button>
</div>
