<div *ngIf="!editPostMode" class="post__title">
    <span class="post__title_text">
        {{title}}
    </span>

    <span class="post__title_createdAt">
        {{updatedAt | date:'MMMM d, y, HH:mm'}}
    </span>
</div>

<div
    *ngIf="editPostMode"
    class="post__title_edit"
    (change)="onChange()"
>
    <mat-form-field appearance="fill" class="input__container">
        <mat-label>New Title</mat-label>

        <input
            matInput
            type="text"
            aria-label="New Title"
            [formControl]="newTitleControl"
        >

        <mat-error *ngIf="newTitleControl.invalid && newTitleControl.touched">
            <mat-error *ngIf="newTitleControl.hasError('required')">
                Post-title cannot be empty
            </mat-error>

            <mat-error *ngIf="newTitleControl.hasError('minlength')">
                Post-title must contain more then 3 symbols
            </mat-error>
        </mat-error>

        <button
            *ngIf="newTitleControl.value"
            matSuffix
            mat-button
            mat-icon-button
            aria-label="Clear"
            (click)="newTitleControl.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
