<div class="page">
    <div class="onLoading" *ngIf="isLoading === true">
        <app-on-loading></app-on-loading>
    </div>

    <div class="page__header">
        <app-header></app-header>
    </div>

    <div class="page__sidebar">
        <app-sidebar
            [users]="users"
            [selectedUser]="selectedUser"
            (onUserSelect)="onUserChange($event)"
        ></app-sidebar>
    </div>

    <div class="page__content">
        <app-content
            [selectedUser]="selectedUser"
        ></app-content>
    </div>
</div>
