.sidebar__container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;

    .sidebar__card {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .sidebar__card_content {
            border: 1px solid white;
            padding-left: 3px;
            cursor: pointer;
            color: white;
            font-size: 18px;
            background-color: #bdbbbf;
        }

        .sidebar__card_content:hover {
            transform: translateX(3px);
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
        }

        .sidebar__card_selected {
            background-color: coral;
        }
    }
}
