<div class="user__card">

    <app-user-card [user]="user$ | async"></app-user-card>

    <div class="btn__block">
        <button class="card__btn" [routerLink]="'/edit/' + userId">
            <img
                src="../../../assets/buttons/edit-button-yellow.png"
                alt="Edit User"
                class="card__btn_img"
            >
        </button>

        <button class="card__btn" (click)="deleteUserById()">
            <img
                src="../../../assets/buttons/remove-button-red.png"
                alt="Remove User"
                class="card__btn_img"
            >
        </button>
    </div>

</div>
