<div class="form__container" [formGroup]="form" (change)="onChange()">


    <div>
        <mat-form-field appearance="fill" class="input__container">
            <mat-label>Name</mat-label>
            <input [type]="inputTypeText" formControlName="name" aria-label="label" matInput>

            <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">

                <mat-error *ngIf="form.get('name').hasError('required')">
                    Name cannot be empty
                </mat-error>

                <mat-error *ngIf="form.get('name').hasError('minlength')">
                    Name must contain more then 3 symbols
                </mat-error>

            </mat-error>

            <button
                mat-button
                *ngIf="form.get('name').value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="form.get('name').setValue('')">
                <mat-icon>close</mat-icon>
            </button>

        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill" class="input__container">
            <mat-label>Login</mat-label>
            <input type="text" formControlName="login" aria-label="label" matInput>

            <mat-error *ngIf="form.get('login').invalid && form.get('login').touched">

                <mat-error *ngIf="form.get('login').hasError('required')">
                    Login cannot be empty
                </mat-error>

                <mat-error *ngIf="form.get('login').hasError('minlength')">
                    Login must contain more then 3 symbols
                </mat-error>

            </mat-error>

            <button
                mat-button
                *ngIf="form.get('login').value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="form.get('login').setValue('')">
                <mat-icon>close</mat-icon>
            </button>

        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill" class="input__container">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="email" aria-label="label" matInput>

            <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">

                <mat-error *ngIf="form.get('email').hasError('required')">
                    Email cannot be empty
                </mat-error>

                <mat-error *ngIf="form.get('email').hasError('email')">
                    Email must fit example@email.com
                </mat-error>

            </mat-error>

            <button
                mat-button
                *ngIf="form.get('email').value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="form.get('email').setValue('')">
                <mat-icon>close</mat-icon>
            </button>

        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill" class="input__container">
            <mat-label>Password</mat-label>
            <input [type]="inputTypePassword" formControlName="password" aria-label="label" matInput>

            <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">

                <mat-error *ngIf="form.get('password').hasError('required')">
                    Password cannot be empty
                </mat-error>

                <mat-error *ngIf="form.get('password').hasError('minlength')">
                    Password must contain more then 8 symbols
                </mat-error>

            </mat-error>

            <button
                mat-button
                *ngIf="form.get('password').value"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="form.get('password').setValue('')">
                <mat-icon>close</mat-icon>
            </button>

        </mat-form-field>
    </div>

</div>
