<div class="post__container">
    <div class="post__title">
        <app-post-card-title
            [updatedAt]="post.updatedAt"
            [title]="post.title"
            [isEditMode]="isEditMode"
            (onChangeTitle)="setNewPostTitle($event)"
        ></app-post-card-title>
    </div>

    <div class="post__content">
        <app-post-card-content
            [content]="post.content"
            [isEditMode]="isEditMode"
            (onChangeContent)="setNewPostContent($event)"
        ></app-post-card-content>
    </div>

    <div class="btn__block">
        <app-post-card-button-block
            [_postUUID]="post.postUUID"
            [countOfLikes]="post.countOfLikes"
            [countOfDisLikes]="post.countOfDislikes"
            (onEditModeChange)="toggleEditMode($event)"
            (makePostChange)="makeDispatch($event)"
        ></app-post-card-button-block>
    </div>
</div>
