<div class="user__card_container">
    <mat-paginator
        class="paginator"
        showFirstLastButtons="true"
        [length]="totalUsersCount$ | async"
        [pageSizeOptions]="[1, 2, 3, 5]"
        [pageSize]="pageSize"
        (page)="onPageChange($event)"
    ></mat-paginator>

    <div
        *ngFor="let user of (currentUsers$ | async)"
        class="user__card"
        [routerLink]="'/users/' + user.userUUID"
    >
        <app-user-card [user]="user"></app-user-card>
    </div>
</div>
