<mat-card class="card__container">

    <div>
        <mat-form-field appearance="fill" class="form__container">
            <mat-label>Name</mat-label>
            <input aria-label="label" matInput [(ngModel)]="userForPost.name">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill" class="form__container">
            <mat-label>Login</mat-label>
            <input aria-label="label" matInput [(ngModel)]="userForPost.login">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill" class="form__container">
            <mat-label>Email</mat-label>
            <input aria-label="label" matInput [(ngModel)]="userForPost.email">
        </mat-form-field>
    </div>

    <div class="btn__container">
        <span>
            <button mat-flat-button (click)="updateUserData(userForPost)">Save</button>
        </span>

        <span>
            <button mat-flat-button (click)="cancel()">Cancel</button>
        </span>
    </div>

</mat-card>

