<div class="page__container">
    <mat-card class="form__container">

        <h1 class="form__title">Registration</h1>

        <app-user-form [user]="newUser" (onChangeUser)="changeUserData($event)"></app-user-form>

        <div class="btn__container">
        <span>
            <button
                mat-flat-button
                color="primary"
                class="btn"
                (click)="createNewUser()"
            >Register</button>
        </span>

        <span>
            <button
                mat-flat-button
                color="primary"
                class="btn"
                routerLink="/"
            >Cancel</button>
        </span>
        </div>

    </mat-card>
</div>
