<mat-card class="card__container">

<!--    <div>-->
<!--        <mat-form-field appearance="fill" class="form__container">-->
<!--            <mat-label>Name</mat-label>-->
<!--            <input aria-label="label" matInput [(ngModel)]="newUser.name">-->
<!--        </mat-form-field>-->
<!--    </div>-->

<!--    <div>-->
<!--        <mat-form-field appearance="fill" class="form__container">-->
<!--            <mat-label>Login</mat-label>-->
<!--            <input aria-label="label" matInput [(ngModel)]="newUser.login">-->
<!--        </mat-form-field>-->
<!--    </div>-->

<!--    <div>-->
<!--        <mat-form-field appearance="fill" class="form__container">-->
<!--            <mat-label>Email</mat-label>-->
<!--            <input aria-label="label" matInput [(ngModel)]="newUser.email">-->
<!--        </mat-form-field>-->
<!--    </div>-->

<!--    <div>-->
<!--        <mat-form-field appearance="fill" class="form__container">-->
<!--            <mat-label>Password</mat-label>-->
<!--            <input aria-label="label" matInput [(ngModel)]="newUser.password">-->
<!--        </mat-form-field>-->
<!--    </div>-->


    <app-user-form></app-user-form>

    <div class="btn__container">
        <span>
            <button mat-flat-button (click)="createNewUser(newUser)">Save</button>
        </span>

        <span>
            <button mat-flat-button (click)="redirectTo('home')">Cancel</button>
        </span>
    </div>

</mat-card>
