<mat-card class="card__container">

    <app-user-form [user]="newUser"></app-user-form>

    <div class="btn__container">
        <span>
            <button
                mat-flat-button
                color="primary"
                class="btn"
                (click)="createNewUser(newUser)"
            >Save</button>
        </span>

        <span>
            <button
                mat-flat-button
                color="primary"
                class="btn"
                (click)="redirectTo('home')"
            >Cancel</button>
        </span>
    </div>

</mat-card>
