.user__card {
    width: 98%;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: white;
    cursor: pointer;
}
