.page__container {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bdbbbf;

    .form__container {
        height: 350px;
        width: 50%;
        margin-right: auto;
        margin-left: auto;

        .form__title {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .input__container {
            width: 100%;
        }

        .btn__container {
            height: 35%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .btn {
                width: 200px;
            }
        }
    }
}
